/* .who-do {
    background-image: url("https://user-images.githubusercontent.com/98487770/169680520-698e0a4a-9637-460a-ba1f-cca28002346d.png");
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    
} */