.who-do {
    color: black;
}

.who-do:hover {
    color: blue;
    transition-duration: .5s;
}

.tavern-masters {
    color: black;
}

.tavern-masters:hover {
    color: blue;
    transition-duration: .5s;
}

.who-card {
    min-height: 600px;
}

.tavern-card {
    min-height: 600px;
}